<div class="container-fluid">

    <div class="row" *ngIf="theExpressions;else elseBlock">

        <!-- Calling the child components: formComponent will make the api calls and infoComponent for printing the result-->
        <!-- [VARIABLE OF THE CHILD COMPONENT]= "VARIABLE OF THIS COMPONENT"-->
        <!--We put the url and the photoToPredit as parameters in order to not lose the info from the elseblock to this block-->
        <app-expression-form class="col-12 col-md-4 col-lg-3" (expressionEvent)="receiveExpressions($event)" [urlImage]="child.urlImage" [photoToPredict]="child.photoToPredict"></app-expression-form>
        <app-expression-info class="col-12 col-md-8 col-lg-9" [expressions]="theExpressions.expressions" ></app-expression-info>
        
    </div>
    <ng-template #elseBlock>
        <div class="row" >
            <app-expression-form class="col-12 col-md-8 col-lg-5" (expressionEvent)="receiveExpressions($event)"></app-expression-form>
        </div>
    </ng-template>

</div>
