.container-fluid {
    display: grid;
}
.col-11 {
    align-self: center;
}
.row {
    align-items: center;
}
#imageEmoji {
    padding: 7px;
}

#info {
    background-color: lightgrey;
    display: grid;
    border: 1px solid black;
}