<div class="container mt-4">

    <button class="btn btn-primary" (click)="cambiar()">PREDICT</button>

    <div class="row mt-4" *ngFor="let expression of expressions,let indice=index">

        <div class="col-12">
            <div class="progress">
                <div  [@anime]="{
                value:animate ? 'start' : 'final',
                params: {widthtest: expression.probability*100 | number :'1.2-2'}
                }" id="barra" class="progress-bar" aria-valuemin="0" aria-valuemax="100">
                {{expression.probability*100 | number :'1.2-2'}}</div>
                <!--JUST IN CASE THE NUMBER PREDICTED IS TOO LOW-->
                <!-- *ngIf="(expression.probability*100)>1; else notShow"> -->
                <!-- <ng-template #notShow>
                    <div *ngIf="!animate" class="progress-bar bg-danger" >
                        TOO LOW
                    </div>
                  </ng-template> -->
            </div>
            <span class="badge col-2">{{expression.mood}}</span> 
        </div>

    </div>
    
</div>