<div class="container-fluid">

    <div class="row" *ngFor="let expression of expressions">

        <div class="col-11">
            <div class="progress">
                <div  [@anime]="{
                value:animate ? 'start' : 'final',
                params: {widthtest: expression.probability*100 | number :'1.2-2'}
                }" id="barra" class="progress-bar" aria-valuemin="0" aria-valuemax="100"
                *ngIf="expression!=winnerExpression; else showWinnerGreen">
                {{expression.probability*100 | number :'1.2-2'}}%
                </div>
                <ng-template #showWinnerGreen>
                    <div [@anime]="{
                        value:animate ? 'start' : 'final',
                        params: {widthtest: expression.probability*100 | number :'1.2-2'}
                        }" class="progress-bar bg-success" >
                        {{expression.probability*100 | number :'1.2-2'}}%
                    </div>
                </ng-template>
                <span class="badge">{{expression.mood}}</span> 
            </div>
        </div>
        <div class="col-1" id="imageEmoji">
            <img src="./assets/images/emoji_{{expression.mood}}.png">
        </div>
    
    </div>
</div>