.container {
    text-align: center;
    padding: 20px;
}
.container > h2,h3{
    font-weight: 900;
}
.container > h2{
    font-style: initial;
}
.container > h3{
    font-style: italic;
}

button {
    padding: 10px 10px;
    background-color: #008cff;
    transition: 0.5s;
    font-weight: bold;
    border-color: #008cff;
}

button:hover {
    color: white;
    background: #008cff;
    box-shadow: 0 0 10px #008cff, 0 0 40px #008cff, 0 0 80px #008cff;
}